*{
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}

main{
    background-color: rgb(66, 245, 66);
}

h1{
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
    /* color: antiquewhite; */
}

#img1{
    height: 40vh;
    position: relative;
    left: 640px;
    /* animation: rotate 2s linear infinite; */
    
  } 
  /* @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
} */
/* #img1:hover{
    left:-50%;
    transform: skewX(-5deg); */

    
    

.bd{
    background-color: aquamarine;
    position: relative;
    left: 640px;
}
#intro{
    text-align: center;
    font-weight: bold;
/*     
    position: relative;
    left: 370px;
    font-weight: bold; */
}
/* div#tribute-data {
    background-color: rgb(46, 139, 87, 0.25);
    background-color: rgb(46, 139, 87,);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}     */


#tribute-data{
    /* text-align: center; */
    background-color: rgba(39, 169, 39, 0.25);
    /* background-color: rgb(39, 169, 39); */
    margin: 11px;
    margin-top: 50px;
    padding: 25px;
    box-shadow: 20px 20px 20px #95ef95;
}

#wik{
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
}

